
.am3__matToolbar{
    border: 1px solid red;
    background: white;
    box-shadow: 1px 5px 11px grey;
    // margin: 0 -8px 0 -8px;
}

.emp__EabLogo{
    height: 50px;
    border-right: 2px solid lightgrey;
    // margin-left: 53px; 
}
.am3__brandName{
    color: #737478 !important;
    margin-left: 5px;
}
